<!DOCTYPE html>
<html class="loading">
    <head>
        <title>Cafe Beit</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
        <meta name="description" content="Cafe Beit is a 100% barista-owned neighborhood coffee shop in Williamsburg, Brooklyn.">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui" />

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-title" content="Cafe Beit">

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" media="screen, projection" href="assets/css/style.min.css" />

        <script type="text/javascript">
            window.app = {
                loadTime : Math.floor(new Date)
            };
        </script>
    </head>

    <body class="homepage">
        <div id="dynamicContainer"></div>

        <script class="template" id="homepageModule" type="text/html">
            <header>
                <nav></nav>
            </header>

            <main>
                <section itemscope itemtype="http://schema.org/CafeOrCoffeeShop">
                    <h1 itemprop="name"><%= data.name %></h1>

                    <figure class="primary-media" itemscope itemtype="http://schema.org/Photograph">
                        <img class="primary-image" itemprop="image" src="<%= data.photo.file %>" />

                        <figcaption class="image-attribution" itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <meta itemprop="name" content="<%= data.photo.attribution.name %>" />

                            <% print('media by ' + (!data.photo.attribution.link ? data.photo.attribution.name : '<a href="' + data.photo.attribution.link + '" itemprop="' + data.photo.attribution.type + '">' + data.photo.attribution.name + '</a>')); %>
                        </figcaption>
                    </figure>

                    <a class="location-link" href="<%= data.address.googleMapsLink %>" target="_blank" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                        <div itemprop="streetAddress"><%= data.address.streetAddress %></div>
                        <span itemprop="addressLocality"><%= data.address.addressLocality %></span>,
                        <span itemprop="addressRegion"><%= data.address.addressRegion %></span> <span itemprop="postalCode"><%= data.address.postalCode %></span>
                    </a>

                    <section class="hours-section">
                        Hours:
                        <% _.each(data.hours, function(value) { %>
                            <time itemprop="openingHours" datetime="<%= value.robot %>">
                                <span class="days"><%= value.human.days %></span> <span class="hours"><%= value.human.hours %></span>
                            </time>
                        <% }); %>
                    </section>

                    <a class="contact-link" href="mailto:cafebeit@gmail.com" target="_blank" itemprop="email"><%= data.email %></a>

                    <% if (!_.isEmpty(data.description)) { %>
                        <section class="description-section" itemprop="description">
                            <hr />

                            <% _.each(data.description, function(paragraph) { %>
                                <p><%= paragraph %></p>
                            <% }); %>
                        </section>
                    <% } %>

                    <!-- include additional meta info for search engines -->
                    <div class="visually-hidden">
                        Serves Cuisine: <span itemprop="servesCuisine">coffee</span>

                        Price Range: <span itemprop="priceRange">$</span>

                        <div itemscope itemprop="hasMap" itemtype="http://schema.org/Map">
                            <link itemprop="mapType" href="http://schema.org/TransitMap" />
                            <a itemprop="url" href="<%= data.address.googleMapsLink %>" target="_blank">view map</a>
                        </div>
                    </div>
                </section>
            </main>

            <footer></footer>
        </script>

        <!--[if lt IE 9]>
            <p class="chromeframe" style="position: fixed; width: 100%; top: 0; margin: 0; padding: 15px; text-align: center; background-color: #555;">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <script src="assets/js/do.js"></script>

        <script type="text/javascript">
            // var _gaq = _gaq || [];
            // _gaq.push(['_setAccount', 'UA-48816430-1']);
            // _gaq.push(['_setDomainName', 'awindownyc.com']);

            // (function() {
            //     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            //     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            //     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            // })();
        </script>
</body>
</html>