/* settings */

// font variables
$font-base-size: 14px;

$font-normal: 'Lato', system, -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, 'Arial', Arial, sans-serif;
$font-header: 'Comfortaa', system, -apple-system, '.SFNSDisplay-Regular', 'Helvetica Neue', Helvetica, 'Arial', Arial, sans-serif;
$font-icon: 'fontello';

// positiong variables
$golden-ratio: 61.803398875%;

// breakpoints
$breakpoint-xs  : 0px;
$breakpoint-sm  : 480px;
$breakpoint-md  : 768px;
$breakpoint-lg  : 960px;
$breakpoint-xl  : 1200px;
$breakpoint-xxl : 1400px;

/* /settings */